
.hero_content {
    padding-top: 70px;
}

.hero_title {
    font-size: 2.5rem;
    line-height: 55px;
}

.hero_title span {
    color: #df2020;
}

.hero_content p {
    font-size: 1rem;
    line-height: 30px;
    color: #777;
}

.hero_btns button {
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.order_btn {
    background: #df2020;
    color: #fff;
    transition: .3s;
}
.order_btn:hover {
    background: #212245;
}

.all_foods-btn {
    background: transparent;
    border: 1px solid #df2020 !important;
}

.all_foods-btn a {
    color: #df2020;
    text-decoration: none;
}

.hero_service p {
    color: #212245;
    font-weight: bold;
    font-size: .9rem;
}

.shipping_icon i {
    padding: 6px;
    background: #df2020;
    color: #fff;
    border-radius: 50%;
    font-weight: 500 !important;
}

.hero_image {
    background-color: #eee;
}

.hero_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  Banner Home */

.banner-container {
    height: 45vh;
}
.banner-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*  Features Section */

.container-feature {
    padding: 1.4rem;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    place-items: center;
    margin-top: 2rem;
}

.container-feature .card {
    width: 300px;
    height: 400px;
    background-color: #eee;
    border: none;
}

.container-feature .imageFeature {
    height: 60%;
}

.container-feature .card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}


.container-feature .card h2 {
    margin: 1rem 0;
    font-size: 1rem;
    text-align: center;
}

.container-feature .card .price {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    align-items: center;
}

.container-feature .card .price h3 {
    font-size: 1rem;
}

.container-feature .card .price span {
    font-size: .8rem;
    color: #333;
    display: inline;
}

.container-feature .card .buttonFeature {
    padding:.6rem;
    width: 100px;
    background-color: crimson;
    width: 50%;
    margin: .8rem auto;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: #fff;
}